{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Glassmorphism Login - Different Theme</title>
  <link rel="stylesheet" href="{% static "login/style.css" %}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        {% comment %} <img src="https://drive.google.com/uc?export=view&id=1bKgdKUQ2Uhx6rjY7LNTuBjLfZhJxKVSq" alt="illustration" class="illustration" /> {% endcomment %}
        <h1 class="opacity">LOGIN</h1>
        <form action="#" method='post'>
          {% if error %}
          <p style="color:red;">{{error}}</p>
          {% endif %}
          {% csrf_token %}
          <input type="text" name='user' placeholder="USERNAME" />
          {% if error1 %}
          <p style="color:red;">User isn't correct</p>
           {% endif %}
          <input type="password" name='pwd' placeholder="PASSWORD" />
          {% if error2 %}
          <p style="color:red;">password isn't correct</p>
          {% endif %}
          <button type='submit'  class="opacity">SUBMIT</button>
        </form>
      
        <div class="register-forget opacity">
          <a href="">REGISTER</a>
          <a href="">FORGOT PASSWORD</a>
        </div>
      </div>
      <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
  </section>
</body>
<!-- partial -->
  <script  src="{% static "login/script.js" %}"></script>

</body>
</html>
