{% include "static.html" %}

  <body>

    <!-- ======== Preloader =========== -->
    <div id="preloader">
      <div class="spinner"></div>
    </div>
    <!-- ======== Preloader =========== -->

    <!-- ======== sidebar-nav start =========== -->
  {% include "navbar.html" %}
     <!-- ======== sidebar-nav end =========== -->


    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">

      <!-- ========== header start ========== -->
      {% include "header.html" %}
      <!-- ========== header end ========== -->


      
      <!-- ========== section start ========== -->
      <section class="section">
       
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="title">
                    <h2>Essence Super</h2>
                  </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                  <div class="breadcrumb-wrapper">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="{% url "dash" %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                          Super
                        </li>
                      </ol>
                    </nav>
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
              {% comment %} Ici il y' a le bilan de la journée et celle précédent. {% endcomment %}
              

       
      {% include "Super/milieu.html" %}



              {% if num  %}
    
              {% comment %} Ici il y' a le bilan de la journée et celle précédent. {% endcomment %}
              
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                FORMULAIRE D'AJOUT
                
              </div>
              <!-- ========== title-wrapper end ========== -->
              <div class="row">
                
                <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="icon-card mb-30">
                    <div class="icon purple">
                      <i class="lni lni-cart-full"></i>
                    </div>
                    <div class="content">
                      <h6 class="mb-0">Index de veille </h6>
                      <h3 class="text-bold mb-0">
                        {{ all_super.last.veille }} Lires
                      </h3>
                      <h3 class="text-bold mb-0">{{ sommev }} Francs</h3>
     
                    </div>
                  </div>

                </div>
                
                <div class="col-lg-6">
                    <!-- input style start -->
                    <form action="{% url "super" %}" method="POST">
                     {% csrf_token %}
                     <div class="col-lg-12">
                      <!-- input style start -->
                      <div class="card-style mb-30">
                        <h6 class="mb-25">Index du jour</h6>
                        <div class="input-style-1">
                          <label>En litres</label>
                          <input type="number" name="super"  min=0 placeholder="Entrez l'index" />
                        </div>
                        <!-- end input -->
                        <div class="input-style-3">
                          <button type="submit" name="type" value="{{ all_super.last.type }}"  class="main-btn secondary-btn btn-hover">Enregistrer</button>
                          
                        </div>

                      </div>

                  
                  </div>
                    <form>
                    <!-- end card -->
                
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="icon-card mb-30">
                    <div class="icon orange">
                      <i class="lni lni-user"></i>
                    </div>
                    <div class="content">
                      <h6 class="mb-0">Totoal Super </h6>
                      <h3 class="text-bold mb-0">  {{ all_super.last.jour }} Litres</h3>
                      <h3 class="text-bold mb-0">{{ sommej }} Francs</h3>
                    </div>
                  </div>
                  <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
              </div>
              
             
           
              {% endif %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            TABLE
            
          </div>
      <!-- End Row -->
     
      
      
            <!-- End Title -->
             
            <div class="tables-wrapper">
              
                <div class="col-lg-12">
                  <div class="card-style mb-30">
                    <h6 class="mb-0">Data Table-{{ all_super.last.type }}</h6>
                   
                  
                      
                    
                    <div class="table-wrapper table-responsive">
                  <table class="table">
                        <thead>
                          <tr>
                            <th class="lead-info">
                              <h6>INDEX_VEILLE</h6>
                            </th>
                            <th class="lead-email">
                              <h6>INDEX_JOUR</h6>
                            </th>
                            <th class="lead-phone">
                              <h6>QUANTITE</h6>
                            </th>
                           
                            <th class="lead-phone">
                              <h6>VALEUR</h6>
                            </th>
                            {% if change0 %}
                            <th class="lead-phone">
                              <h6>TYPE</h6>
                            </th>
                            {% endif %}
                            <th class="lead-company">
                              <h6>DATE</h6>
                            </th>
                            <th>
                              <h6>ACTION</h6>
                            </th>
                          </tr>
                          <!-- end table row-->
                        </thead>
                {% for sup in all_super %}
                <tbody>
                 
                 
                
                  <tr>
                    <td>
                      
                        
                        <p class="text-sm">{{ sup.veille }}</p>
                      
                    </td>
                    <td>
                      <p class="text-sm">{{ sup.jour }}</p>
                    </td>
                    <td>
                      <p class="text-sm">{{ sup.quantite }}</p>
                    </td>
                  
                    <td>
                      <p class="text-sm">{{ sup.valeur }}</p>
                    </td>
                    {% if change0 %}
                    <td>
                      <p class="text-sm">{{ sup.type }}</p>
                    </td>
                    {% endif %}
                    <td>
                      <p class="text-sm">{{ sup.date  }}</p>
                    </td>
                    <td>
                      <div class="action justify-content-end">
                        <button class="edit">
                          <i class="lni lni-pencil"></i>
                        </button>
                     
                        <button class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>

                
                </tbody>
                {% endfor %}
              </table>
              <!-- End Table -->
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end container -->
  </section>
  <!-- ========== section end ========== -->

  <!-- ========== footer start =========== -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 order-last order-md-first">
          <div class="copyright text-center text-md-start">
            <p class="text-sm">
              Designed and Developed by
              <a href="https://plainadmin.com" rel="nofollow" target="_blank">
                PlainAdmin
              </a>
            </p>
          </div>
        </div>
        <!-- end col-->
        <div class="col-md-6">
          <div class="terms d-flex justify-content-center justify-content-md-end">
            <a href="#0" class="text-sm">Term & Conditions</a>
            <a href="#0" class="text-sm ml-5">Privacy & Policy</a>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </footer>
  <!-- ========== footer end =========== -->
</main>

{% include "footer.html" %}